#cadastro-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cadastro-page main {
    background-color: var(--container-color);
    width: 500px;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 5px;
}

#cadastro-page form {
    margin-top: 30px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cadastro-page .input-form {
    background-color: var(--input-color);
    width: 48%;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px;

    font-weight: bold;
    font-size: 12pt;

    color: var(--text-input-color);
    margin-bottom: 20px;
}

#cadastro-page textarea.input-form {
    height: 100px;
    width: 100%;
}

#cadastro-page button {
    width: 100%;
    height: 40px;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;

    font-size: 12pt;
    font-weight: bold;
    color: var(--text-secondary-color);

    cursor: pointer;
    transition: 0.2s;
}

#cadastro-page button:hover {
    background-color: var(--button-hover-color);
    color: var(--text-primary-color);
}

@media screen and (max-width: 540px) {
    #cadastro-page main {
        width: 100%;
    }

    #cadastro-page form {
        width: 90%;
    }
    
    #cadastro-page .input-form {
        height: 35px;
        font-size: 10pt;
        margin-bottom: 15px;
    }
}